root = true

# CSS
[*.css]
charset = utf-8
indent_style = space
indent_size = 2

# JS
[*.js]
charset = utf-8
indent_style = space
indent_size = 2

# TS
[*.ts]
charset = utf-8
indent_style = space
indent_size = 2

# TSX
[*.tsx]
charset = utf-8
indent_style = space
indent_size = 2

# HTML
[*.html]
charset = utf-8
indent_sylte = space
indent_size = 2
