.Root {
  align-items: center;
  background: #424242;
  color: #bababa;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}

.SettingBtnHolder {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
