.StdBtnPrimary {
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  margin: 4px;
  outline: none;
  padding: 2px;
}

.StdBtnPrimary:active {
  background: #eeeeee;
}

.StdBtnPrimary:disabled {
  background: #eeeeee;
  color: #707070;
}

.StdBtnSecondary {
  align-items: center;
  background: #1976d2;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 4px;
  outline: none;
  padding: 2px;
}

.StdBtnSecondary:active {
  background: #004ba0;
}

.StdBtnSecondary:disabled {
  background: #004ba0;
  color: #909090;
}
.IconBtn {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
}

.IconBtn:active {
  color: rgba(0, 0, 0, 0.61);
}

.StdSelect {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 4px;
  outline: none;
}
