.StdButton {
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  color: rgba(0,0,0,0.87);
  display: flex;
  justify-content: center;
  margin: 4px;
  outline: none;
  padding: 2px;
}

.StdButton:active {
  background: #eeeeee;
}

.StdButton:disabled {
  background: #eeeeee;
  color: #707070;
}

.StdSelect {
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  display: block;
  margin: 4px;
  outline: none;
}

