/*
https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=424242&secondary.color=B0BEC5
*/

body {
  margin: 0px;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-user-select: none;
}

.layout-top-to-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.layout-left-to-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.layout-right-to-left {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

.title-bar {
  -webkit-app-region: drag;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  -webkit-user-select: none;
  color: #bababa;
}
.title-bar-bg {
  background: #606060;
}
.title-bar-bg-active {
  background: #1b1b1b;
}
.title-bar-title {
  align-items: center;
  display: flex;
  font-size: 10pt;
  height: 1.8em;
  justify-content: center;
}

.sidebar {
  align-items: center;
  background: #424242;
  color: #bababa;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}
.sidebar-btn {
  align-items: center;
  background: transparent;
  border: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 0px;
  width: 100%;
}
.sidebar-btn:hover {
  color: #ffffff;
}
.sidebar-btn-active {
  color: #ffffff;
}

.content {
  height: 100%;
  width: 100%;
}

.page {
  display: none;
  height: 100%;
  width: 100%;
}
.page-active {
  display: flex;
}

.page-sheet-header {
  align-items: center;
  background: #6d6d6d;
  color: #424242;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  width: 100%;
}
.page-sheet-body {
  background: #ffffff;
  display: block;
  height: 100%;
  width: 100%;
}
.page-sheet-cell-unit-select {
  display:block;
  margin-right: 8px;
  outline: none;
  width: 80px;
}
.page-sheet-move-btn {
  background: #424242;
  border: 0px;
  color: #bababa;
  display:block;
  height: 30px;
  outline: none;
  padding: 2px;
  width: 56px;
}
.page-sheet-move-btn:hover {
  color: #ffffff;
}
.page-sheet-move-prev-btn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-right: 1px;
}
.page-sheet-move-next-btn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;  
  margin-left: 1px;
}
.page-sheet-zoom-div {
  width: 120px;
}
.page-sheet-zoom-label {
  color: rgba(255, 255, 255, 0.61);
  font-size: 8pt;
  margin-right: 4px;
}
.page-sheet-table {
  font-size: 9.5pt;
  width: 100%;
}
.page-sheet-table-column {
  background: #9ea7aa;
  color: rgba(0, 0, 0, 0.73);
}
.page-sheet-table-header-root {
  background: #b0bec5;
  color: rgba(0, 0, 0, 0.43);
}
.page-sheet-table-cell-root {
  background: #b0bec5;
}
.page-sheet-table-opener-space {
  width: 20px;
  background: #e2f1f8;
}
.page-sheet-table-header-account {
  background: #e2f1f8;
  color: rgba(0, 0, 0, 0.43);
}
.page-sheet-table-cell-odd {
  background: #e2f1f8;
  color: rgba(0, 0, 0, 0.90);
}
.page-sheet-table-cell-even {
  background: #e2f1f8;
  color: rgba(0, 0, 0, 0.90);
}
