body {
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-user-select: none;
}

.title-bar {
  -webkit-app-region: drag;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  -webkit-user-select: none;
  color: #bababa;
}
.title-bar-bg {
  background: #252525;
}
.title-bar-title {
  align-items: center;
  display: flex;
  font-size: 10pt;
  height: 1.8em;
  justify-content: center;
}

.tool-bar {
  background: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
  font-size: 13pt;
  text-align: left;
}
