/*
https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=FAFAFA
*/

body {
  margin: 0px;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-user-select: none;
}

.title-bar {
  -webkit-app-region: drag;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  -webkit-user-select: none;
  color: #bababa;
}
.title-bar-bg {
  background: #606060;
}
.title-bar-bg-active {
  background: #1b1b1b;
}
.title-bar-title {
  align-items: center;
  display: flex;
  font-size: 10pt;
  height: 1.8em;
  justify-content: center;
}

.layout-horizontal {
  display: flex;
  height: 100%;
  width: 100%;
}

.tool-bar {
  align-items: center;
  background: #424242;
  color: #bababa;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 50px;
}
.tool-bar-btn {
  align-items: center;
  background: transparent;
  border: 0px;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0px;
  width: 100%;
}
.tool-bar-btn:hover {
  color: #ffffff;
}

