.DialogRoot {
  max-width: 420px;
}

.DialogContent {
  height: auto;
}

.DialogHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.87);
  height: 52px;
}

.BodyRoot {
  display: flex;
  flex-direction: column;
  height: calc(100% - 82px);
  width: 100%;
}

.InputRoot {
  background: #ffffff;
}

.InputRoot table {
  border: none;
  margin-top: 20px;
  width: 100%;
}

.InputRoot tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 42px;
}

.InputRoot tr:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.FormInputRowHide {
  display: none;
}

.InputRoot th {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  color: #707070;
  font-weight: normal;
  padding: 8px;
  text-align: right;
  width: 124px;
}

.InputRoot td {
  align-items: center;
  display: flex;
  padding: 8px;
}

.InputRoot input,
.InputRoot select {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  height: 24px;
  outline: none;
  padding-left: 8px;
}
.InputRoot input:focus,
.InputRoot select:focus {
  background: #eeeeee;
}
.InputRoot select:hover {
  color: #424242;
  cursor: pointer;
}

.InputName input {
  width: 60%;
}

.InputStartDate {
  /* */
}

.InputInitialAmount[data-is-negative='true'] input {
  color: #9234fd;
}

.FooterRoot {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 64px;
  padding: 4px 14px;
  width: 100%;
}

.FooterRoot button {
  min-width: 100px;
}
