.DialogRoot {
  margin-left: 6%;
  margin-right: 6%;
  max-width: none;
}

.DialogContent {
  height: calc(100vh - 60px);
}

.DialogHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.87);
  height: 52px;
}

.BodyAndFooter {
  display: flex;
  flex-direction: column;
  height: calc(100% - 52px);
}

.TargetAccountRoot {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.TargetAccountRoot,
.FooterRoot {
  padding: 4px 14px;
}

.TargetAccountRoot select {
  flex-grow: 1;
  height: 26px;
  margin-left: 8px;
  margin-right: 8px;
}

.TableRoot {
  flex-grow: 1;
}

.TableRoot td[data-col-category='date'] {
  width: 88px;
}

.TableRoot td[data-col-category='palm-category'] {
  max-width: 140px;
  width: 140px;
}

.TableRoot td[data-col-category='memo'] {
  max-width: 140px;
  width: 140px;
}

.TableRoot td[data-col-category='income'] {
  width: 100px;
}

.TableRoot td[data-col-category='outgo'] {
  width: 100px;
}

.TableRoot td[data-col-category='group'] {
  width: auto;
}

.TableRoot td[data-col-category='tail-space'] {
  width: 15px;
}

.TableHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.61);
  font-size: 8pt;
  height: 22px;
  text-align: center;
  width: 100%;
}

.TableHeader td {
  border-right: 1px solid #cccccc;
}

.TableHeader td[data-col-category='tail-space'] {
  border-right: 0px;
}

.TableBody {
  border-bottom: 1px solid #cccccc;
  height: calc(100% - 22px);
  overflow-y: scroll;
  width: 100%;
}

.TableBody td {
  font-size: 9pt;
  overflow: hidden;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TableBody td[data-col-category='income'],
.TableBody td[data-col-category='outgo'] {
  text-align: right;
}

.FooterRoot {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
}

.FooterRoot button {
  min-width: 100px;
}
