.DialogRoot {
  margin-left: 6%;
  margin-right: 6%;
  max-width: none;
}

.DialogContent {
  height: calc(100vh - 60px);
}

.DialogHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.87);
  height: 52px;
}

.TargetAccountRoot {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 4px 14px;
}

.TargetAccountRoot select {
  height: 26px;
  margin-left: 8px;
  margin-right: 8px;
}

.TableRoot {
  /* */
}

.TableHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  color: rgba(0, 0, 0, 0.61);
  font-size: 8pt;
  text-align: center;
  width: 100%;
}

.TableHeader td[data-col-category='tail-space'] {
  width: 15px;
}

.TableBody {
  overflow-y: scroll;
}
