.DialogRoot {
  margin-left: 6%;
  margin-right: 6%;
  max-width: none;
}

.DialogHeader {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0,0,0,0.87);
}

.SectionRoot {
  display: flex;
  flex-direction: row;
}

.SectionLeftSideRoot {
  border-right: 1px solid #cccccc;
  flex-grow: 1;
  overflow-y: auto;
}

.SectionRightSideRoot {
  width: 400px;
}

.RecordCell {
  display: flex;
}

.FormTabsRoot {
  background: #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-collapse: collapse;
  color: rgba(0,0,0,0.87);
  height: 40px;
  padding-top: 8px;
  width: 100%;
}

.FormTabsBase {
  align-items: center;
  background: #eeeeee;
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.FormTab {
  border-collapse: collapse;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin-bottom: -1px;
  padding-top: 2px;
  width: 30%;
}

.FormTabButton {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.FormTabButton:disabled {
  color: rgba(0,0,0,0.87);
}

.FormTabLabel {
  display: block;
}

.FormTabLast {
  border-right: 1px solid #cccccc;
}

.FormTabActive {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.FormSvgIcon {
  display: block;
  height: 18px;
  margin-top: 3px;
  margin-right: 2px;
  width: 18px;
}

.FormInputRoot {
  background: #ffffff;
}

.FormInputRoot table {
  border: none;
  margin-top: 20px;
  margin-bottom: -1px;
  width: 100%;
}

.FormInputRoot tr {
  height: 48px;
}

.FormInputRowHide {
  display: none;
}

.FormInputRoot th {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-left: none;
  color: #707070;
  font-weight: normal;
  padding: 8px;
  text-align: right;
  width: 124px;
}

.FormInputRoot td {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-right: none;
  display: flex;
  padding: 8px;
}

.FormInputRoot input,
.FormInputRoot select {
  background: transparent;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 5px;
  color: rgba(0,0,0,0.87);
  display: block;
  height: 30px;
  outline: none;
  padding-left: 8px;
}
.FormInputRoot input:focus,
.FormInputRoot select:focus {
  background: #eeeeee;
}
.FormInputRoot select:hover {
  color: #424242;
  cursor: pointer;
}

.FormInputAmountCellNegativeIncome input {
  color: #9234fd;
}
.FormInputAmountCellNegativeOutgo input {
  color: #9234fd;
}

.FormInputCategory {
  width: 100%
}

.FormInputAccount {
  cursor: pointer;
}

.FormInputMemo {
  width: 100%
}

.FormErrorMsg {
  color: #e44;
  display: block;
  margin: 4px;
}

.FormNoticeMsg {
  color: #3273ff;
  display: block;
  opacity: 0.0;
  margin: 4px;
}

.FormFooterRoot label,
.FormFooterRoot input[type='checkbox'] {
  cursor: pointer;
  font-size: 10pt;
}
.FormFooterRoot input[type='checkbox'] {
  margin: 0px 2px;
}

.FormInputSubmit {
  width: 100px;
}

.ContextMenuRoot {
  font-family: 'Hiragino Kaku Gothic ProN', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8rem;
}
