.Root {
  display: block;
}

.Table {
  border: 0px none;
  display: table-cell;
}

.TableHeader {
  border: 1px solid rgba(0,0,0,0.12);
  color: #707070;
  font-weight: normal;
  text-align: center;
  width: 124px;
}

.TableData {
  border: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.87);
  height: 60px;
  padding: 1px 4px;
  text-align: left;
  vertical-align: top;
}

.TableDataDark {
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.61);
}

.CellTop {
  display: flex;
}

.CellDay {
  display: block;
}

.CellNewRecordBtn {
  background: transparent;
  border: 0px;
  color: rgba(0, 0, 0, 0.61);
  display: block;
  height: 14px;
  margin-left: 2px;
  outline: none;
  padding: 2px;
}
.CellNewRecordBtn:hover {
  color: #000000;
}
.CellNewRecordBtn:active {
  color: rgba(0, 0, 0, 0.61);
}

.CellNewRecordBtnIcon {
  font-size: 14px;
}
