.Root {
  align-items: center;
  background: #6d6d6d;
  color: #424242;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  width: 100%;
}

/* 表示中の日付ラベル */
.CurrentDate {
  color: rgba(255, 255, 255, 0.61);
  font-size: 20pt;
  margin: 0px;
  text-align: center;
  width: 260px;
}

/* ボタンの既定スタイル */
.Btn {
  color: #bababa;
  display: block;
  height: 30px;
}
.Btn:hover {
  color: #ffffff;
}
.Btn:active {
  color: #bababa;
}

/* フレーム有りボタンの既定スタイル */
.FrameBtn {
  background: #424242;
  border: 0px;
  outline: none;
  padding: 2px;
}

/* フレーム無しボタンの既定スタイル */
.NoFrameBtn {
  background: transparent;
  border: 0px;
  outline: none;
  padding: 2px;
}

/* 以下，それぞれのインプット専用設定 */

.MoveBtn {
  width: 74px;
}

.MovePrevBtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-right: 1px;
}

.MoveNextBtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-left: 1px;
}

.JumpBtn {
  border-radius: 5px;
  margin-left: 4px;
  width: 74px;
}

.ViewUnitSelect {
  background: #424242;
  border: 0px;
  border-radius: 5px;
  color: #bababa;
  display: block;
  height: 30px;
  outline: none;
  margin-left: 4px;
  margin-right: 8px;
  width: 80px;
}

.ViewUnitSelect:hover {
  color: #ffffff;
}

.FilterBtn {
  margin-left: 4px;
}

.NewRecordBtn {
  margin-left: 4px;
}
