.Root {
  display: block;
  margin-top: 16px;
}

.Table {
  border: 0px none;
  display: table-cell;
}

.TableHeader {
  border: 1px solid rgba(0,0,0,0.12);
  color: #707070;
  font-weight: normal;
  text-align: center;
  width: 124px;
}

.TableData {
  border: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.87);
  height: 60px;
  padding: 1px 4px;
  text-align: left;
  vertical-align: top;
}

.TableDataDark {
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.61);
}
