.Root {
  display: block;
  height: 100%;
  width: 100%;
}
.Table {
  font-size: 9.0pt;
  width: 100%;
}
.HeadTableRecord {
  border-top: 1px solid #cccccc;
}
.TableColHead {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0,0,0,0.87);
  text-align: center;
}
.TableColHeadAccountName,
.TableColHeadAccountCategory,
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadCategory,
.TableColHeadTotal {
  color: rgba(0, 0, 0, 0.61);
}
.TableRowHead,
.TableRowTail {
  color: rgba(0, 0, 0, 0.61);
}
.TableColHeadAccountName,
.TableColHeadAccountCategory,
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadCategory,
.TableColHeadTotal,
.TableRowHeadAccountName,
.TableRowHeadAccountCategory {
  font-size: 9pt;
}
.TableColHeadAccountName,
.TableRowHeadAccountName,
.TableColHeadAccountCategory,
.TableRowHeadAccountCategory,
.TableColHeadCarried,
.TableRowHeadCarried,
.TableColHeadCell,
.TableCell,
.TableColHeadSpace,
.TableCellSpace,
.TableColHeadCategory,
.TableRowHeadCategoryName {
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  font-size: 9pt;
}
.TableColHeadAccountName {
  width: 172px;
}
.TableRowHeadAccountName {
  padding-left: 4px;
  padding-right: 4px;
  width: 156px;
}
.TableColHeadAccountCategory,
.TableRowHeadAccountCategory {
  text-align: center;
  width: 16px;
}
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadTotal,
.TableRowHeadCarried,
.TableRowTailBalance,
.TableRowTailTotal {
  width: 88px;
}
.TableColHeadCategory {
  width: calc(172px + 16px + 88px);
}
.TableRowHeadCategoryName {
  padding-left: 4px;
  padding-right: 4px;
  width: calc(172px + 16px + 88px - 16px);
}
.TableRowHeadCarried,
.TableRowTailBalance,
.TableRowTailTotal,
.TableCell {
  font-size: 9pt;
  padding-right: 2px;
  text-align: right;
}
.TableColHeadCell,
.TableCell {
  width: 94px;
}
.TableCell {
  color: rgba(0,0,0,0.87);
}
.TableCellOdd,
.TableCellEven,
.TableCellSpace {
  background: #f5f5f6;
}
.TableRowHeadRoot,
.TableRowTailRoot,
.TableCellRoot {
  background: #90caf9;
}
.TableRowHeadRoot {
  color: rgba(0,0,0,0.87);
}
.TableOpenerSpace,
.TableRowHeadAccount,
.TableRowHeadCategory {
  background: #eeeeee;
}
.TableOpenerSpace {
  width: 16px;
}