.Root {
  display: block;
  height: 100%;
  width: 100%;
}
.Table {
  font-size: 9.0pt;
  width: 100%;
}
.TableColhead {
  background: #f5f5f6;
  color: rgba(0,0,0,0.87);
  text-align: center;
}
.TableColheadAccountName,
.TableColheadAccountCategory,
.TableColheadCarried,
.TableColheadBalance {
  color: rgba(0, 0, 0, 0.61);
}
.TableRowhead {
  color: rgba(0, 0, 0, 0.61);
}
.TableColheadAccountName,
.TableColheadAccountCategory,
.TableColheadCarried,
.TableColheadBalance,
.TableRowheadAccountName,
.TableRowheadAccountCategory {
  font-size: 9pt;
}
.TableColheadAccountName,
.TableRowheadAccountName,
.TableColheadAccountCategory,
.TableRowheadAccountCategory,
.TableColheadCarried,
.TableRowheadCarried,
.TableColheadCell,
.TableCell,
.TableColheadSpace,
.TableCellSpace {
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  font-size: 9pt;
}
.TableColheadAccountName {
  width: 172px;
}
.TableRowheadAccountName {
  padding-left: 4px;
  padding-right: 4px;
  width: 156px;
}
.TableColheadAccountCategory,
.TableRowheadAccountCategory {
  text-align: center;
  width: 16px;
}
.TableColheadCarried,
.TableColheadBalance,
.TableRowheadCarried,
.TableRowheadBalance {
  width: 88px;
}
.TableRowheadCarried,
.TableRowheadBalance,
.TableCell {
  font-size: 9pt;
  padding-right: 2px;
  text-align: right;
}
.TableColheadCell,
.TableCell {
  width: 94px;
}
.TableCell {
  color: rgba(0,0,0,0.87);
}
.TableCellOdd,
.TableCellEven,
.TableCellSpace {
  background: #f5f5f6;
}
.TableRowheadRoot,
.TableCellRoot {
  background: #90caf9;
}
.TableRowheadRoot {
  color: rgba(0,0,0,0.87);
}
.TableOpenerSpace,
.TableRowheadAccount {
  width: 16px;
  background: #eeeeee;
}
