.Root {
  display: block;
  height: calc(100% - 46px);
  width: 100%;
}
.BodyTop {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.BodyBottom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.Table {
  font-size: 9.0pt;
  width: 100%;
}
.HeadTableRecord {
  border-top: 1px solid #cccccc;
}
.AccountTableSection {
  overflow-y: scroll;
  height: calc(100% - 21px);
  width: 100%;
}
.CategoryTableSection {
  overflow-y: scroll;
  height: calc(100% - 22px);
  width: 100%;
}
.TableRowHeadHolder {
  flex: auto;
  padding: 0;
}
.Holder {
  display: flex;
  flex-direction: row;
}
.HolderEntry {
  display: flex;
}
.TableColHead {
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0,0,0,0.87);
  text-align: center;
}
.TableColHeadAccountName,
.TableColHeadAccountCategory,
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadCategory,
.TableColHeadTotal {
  color: rgba(0, 0, 0, 0.61);
}
.HolderEntry,
.TableRowHead,
.TableRowTail {
  color: rgba(0, 0, 0, 0.61);
}
.HolderEntryAccountName,
.HolderEntryRootAccountName,
.HolderEntryCategoryName,
.HolderEntryRootCategoryName,
.TableColHeadAccountName,
.TableColHeadAccountCategory,
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadCategory,
.TableColHeadTotal,
.TableColHeadCell,
.TableRowHeadRootAccountName,
.TableRowHeadAccountCategory,
.TableRowHeadCarried,
.TableCell {
  font-size: 9pt;
}
.TableRowHeadHolder,
.TableColHeadAccountName,
.TableRowHeadRootAccountName,
.TableColHeadAccountCategory,
.TableRowHeadAccountCategory,
.TableColHeadCarried,
.TableRowHeadCarried,
.TableColHeadCell,
.TableCell,
.TableColHeadSpace,
.TableCellSpace,
.TableColHeadCategory,
.TableColHeadBalance,
.TableColHeadTotal {
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
}
.TableColHeadAccountName,
.TableRowHeadHolderAccount {
  width: 172px;
}
.TableColHeadCategory,
.TableRowHeadHolderCategory {
  width: calc(172px + 16px + 88px);
}
.HolderEntryAccountName,
.HolderEntryRootAccountName,
.HolderEntryRootCategoryName,
.HolderEntryCategoryName {
  flex-grow: 1;
}
.TableColHeadAccountCategory,
.TableRowHeadAccountCategory {
  text-align: center;
  width: 16px;
}
.TableColHeadCarried,
.TableColHeadBalance,
.TableColHeadTotal,
.TableRowHeadCarried,
.TableRowTailBalance,
.TableRowTailTotal {
  width: 88px;
}
.TableColHeadScrollBarSpace {
  width: 15px;
}
.TableRowHeadCarried,
.TableRowTailBalance,
.TableRowTailTotal,
.TableCell {
  font-size: 9pt;
  padding-right: 2px;
  text-align: right;
}
.TableColHeadCell,
.TableCell {
  width: 94px;
}
.TableCell {
  color: rgba(0,0,0,0.87);
}
.TableCell[data-cell-even='true'] {
  background: rgba(99, 164, 255, 0.09375);
}
.TableCell[data-cell-even='false'],
.TableCellSpace {
  background: #f5f5f6;
}
.HolderEntryRoot,
.HolderEntryRootOpenerSpace,
.TableRowHeadRoot,
.TableRowTailRoot,
.TableCellRoot {
  background: rgba(25, 118, 210, 0.35);
}
.HolderEntryRoot,
.TableRowHeadRoot {
  color: rgba(0,0,0,0.61);
}
.HolderEntryNormalOpenerSpace,
.HolderEntryNormalAccountName,
.HolderEntryNormalCategoryName,
.TableRowHeadAccount,
.TableRowHeadCategory {
  background: #eeeeee;
}
.HolderEntryOpenerSpace {
  display: flex;
  flex-direction: row-reverse;
  height: 21px;
}

/** 7以上のサイズ */
.HolderEntryOpenerSpace {
  width: calc(20px + 15px * 7);
}
.HolderEntryOpenerSpace[data-indent-level='0'] {
  width: 20px;
}
.HolderEntryOpenerSpace[data-indent-level='1'] {
  width: calc(20px + 15px * 1);
}
.HolderEntryOpenerSpace[data-indent-level='2'] {
  width: calc(20px + 15px * 2);
}
.HolderEntryOpenerSpace[data-indent-level='3'] {
  width: calc(20px + 15px * 3);
}
.HolderEntryOpenerSpace[data-indent-level='4'] {
  width: calc(20px + 15px * 4);
}
.HolderEntryOpenerSpace[data-indent-level='5'] {
  width: calc(20px + 15px * 5);
}
.HolderEntryOpenerSpace[data-indent-level='6'] {
  width: calc(20px + 15px * 6);
}

.OpenerBtn {
  color: rgba(0, 0, 0, 0.61);
  font-size: 8pt;
  height: 100%;
  padding-left: 6px;
  padding-right: 4px;
  width: 20px;
}
