.Root {
  align-items: center;
  background: #f5f5f6;
  border-bottom: 1px solid #cccccc;
  color: rgba(0,0,0,0.87);
  display: flex;
  flex-direction: row;
  height: 72px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

/* 表示中の日付ラベル */
.CurrentDate {
  font-size: 24pt;
  margin: 0px;
  text-align: left;
  width: 200px;
}

/* ボタンの既定スタイル */
.Btn {
  display: block;
  height: 30px;
}

/* フレーム無しボタンの既定スタイル */
.NoFrameBtn {
  border: 0px;
}

/* 以下，それぞれのインプット専用設定 */

.MoveBtn {
  width: 52px;
}

.MovePrevBtn {
  margin-right: 1px;
  width: 30px;
}

.MoveNextBtn {
  margin-left: 1px;
  width: 30px;
}

.JumpBtn {
  margin-left: 4px;
  width: 52px;
}

.ViewUnitSelect {
  height: 30px;
  margin-left: 4px;
  margin-right: 8px;
  width: 80px;
}

.FilterBtn {
  margin-left: 4px;
}

.NewRecordBtn {
  margin-left: 4px;
}

.RightArea {
  align-items: center;
}
